@model YourSay.Models.Causes

@{
    ViewBag.Title = "Create2";
}

<!-- First paragraph -->
<div class="row justify-content-center">
    <div class="col-sm-12">
        <h1>CREATE</h1>
        <p>Enter the cause details below and create your own cause.</p>
    </div>
</div>

<!--Form to create a new cause. The details will be passed to the controller and added to the DbSet-->
<div class="main_col">
    <div class="row justify-content-center">
        <div class="col-md-6">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Details, 10, 60, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ListBoxFor(c => c.Category, ViewBag.Roles as SelectList, new { style = "width:500px;height: 180px" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
